@model NJServices_Demo.Models.emp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mgr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mgr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hiredate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hiredate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dept.dname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dept.dname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
